*{
    padding: 0;
    margin :0;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/coffee_tea_laptop_computer_work_desk.png);
    background-size: cover;
  
    font-family: Georgia, 'Times New Roman', Times, serif;  

}
.menu-bar{
    background-color: brown;
    text-align: center;
}
.menu-bar ul{
    display: flex;
    list-style: none;
    color: white;
}
.menu-bar ul li {
    width: 150px;
    margin: 15px;
    padding: 15px;;

}
.menu-bar ul li a {
    text-decoration: none;
    color: white;
}

.active,  .menu-bar ul li:hover {
    background: slategray;
    border-radius: 3px;
}
.sub_menu-1{
    display: none;
}
.menu-bar ul li:hover .sub_menu-1{
    display: block;
    position: absolute;
    background: maroon;
    margin-top: 15px;
    margin-left: -15px;

}
.menu-bar ul li:hover .sub_menu-1 ul{
    display: block;
    margin: 10px;


}

.menu-bar ul li:hover .sub_menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background:transparent ;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub_menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub_menu-1 ul li a:hover{
    color :black;
}
